@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div> @Html.DisplayFor(Model => Model.ViewModel.SelectedDate)</div>

<table id="DeskReservationsContainer">
    <tr id="DaysHeaderContainer">
        <th class="deskName"></th>
        <th class="day">Monday</th>
        <th class="day">Tuesday</th>
        <th class="day">Wednesday</th>
        <th class="day">Thursday</th>
        <th class="day">Friday</th>
        <th class="day">Saturday</th>
        <th class="day">Sunday</th>
    </tr>
    @foreach (var desk in Model.ViewModel.DeskReservations)
    {
        <tr id="DeskRowsContainer">
            <td class="deskName">@desk.DeskName</td>
            @foreach (var day in desk.DeskDateStatuses)
            {
        <td class="day @day.ReservationStatus">@day.ReservationStatus</td>

            }
        </tr>
    }




</table>